<mat-card class="login">
    <mat-card-header>
      <mat-card-title>
        <h4>Login</h4>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form>
        <mat-form-field><input [(ngModel)]="loginData.email" name="email" matInput placeholder="email"
                                     type="email" autocomplete="off"/></mat-form-field>
        <mat-form-field><input [(ngModel)]="loginData.pwd" name="password" matInput placeholder="password"
                                    type="password"/></mat-form-field>
        <button (click)="login()" mat-raised-button color="primary">Login</button>
      </form>
    </mat-card-content>
    <mat-card-footer class="loginFooter">
        <a routerLink="/register">Sign in</a>
        <a>Forgot password?</a>
    </mat-card-footer>
  </mat-card>